*{
    font-size: 20px;
}
/* logo + sfondo */
#logo {
    width: 200px;
    margin-top: 50px;
}

header{
    background-image: url(img/pattern.png);
    background-size: contain;
    background-color: rgb(85, 170, 255);
}

/* titolo + immagini */
h1{
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 10px;
}

.sottotitolo{
    color: grey;
    font-size: 18px;
}

.sottotitolo-azzu{
    color: rgb(0, 179, 255);
}

.data-sottotitolo{
    font-size: 12px;
}

.img-tim{
    margin-top: 20px;
}

.crediti{
    font-size: 12px;
}

/* paragrafo + elenco puntato */
.evidenziato{
    background-color: yellow;
}

/* tabella + paragrafo */
table {
    border-collapse: collapse;
}
  
th {
    text-align: left;
}

.ttl-tabella{
    background-color:  dodgerblue;
    color: white;
}

.sz-azzch{
    background-color: rgb(182, 219, 255);
}

footer div{
    margin-top: 15px;
}

.titolo-footer{
    color: gray;
    font-weight: 600;
}

.img-footer-1{
    width: 300px;
    height: 200px;
    color: white;
    background-image: url(img/monitor.jpg);
}

.img-footer-2{
    width: 300px;
    height: 200px;
    color: white;
    background-image: url(img/graph.jpg);
}

  

